*{
    font-family: "Open Sans", sans-serif;
}
/* Common Class */
.font-color{
    color: #8987A1;
}
.font-color-bl{
    color: black;
}
.navbar{
    width: 1440px;
    height: 101px;
    /* background-color: blue; */
}
.nav-content{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-right: 150px;
    margin-left: 150px;
}
.nav-item{
    display: flex;
    list-style: none;
    width: 415px;
    height: 60px;
    /* gap: 48px; */
    align-items: center;
}
.list-items{
    text-decoration: none;
    padding: 18px;
}