*{
    font-family: "Open Sans", sans-serif;
}
/* Common Class */
.font-color{
    color: #8987A1;
}
.font-color-bl{
    color: black;
}
.navbar{
    width: 1440px;
    height: 101px;
    /* background-color: blue; */
}
.nav-content{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-right: 150px;
    margin-left: 150px;
}
.nav-item{
    display: flex;
    list-style: none;
    width: 415px;
    height: 60px;
    align-items: center;
}
.list-items{
    text-decoration: none;
    padding: 18px;
}


/* Hero-Section */
.hero-item{
    display: flex;
    width: 1140px;
    height: 462px;
    margin-top: 120px;
    margin-right: 150px;
    margin-left: 150px;
}

.hero-content{
    width: 570px;
    height: 299px;
}
.hero-image{
    width: 570px;
    height: 355px;
}
.hero-title{
    font-weight: bold;
    font-size: 65px;
}
.title-style{
    color: #E95A08;
}


/* Plant Section  */
.plant-section{
    width: 1140px;
    height: 1187px;
    margin-right: 150px;
    margin-left: 150px;
}

.plant-content{
    text-align: center;
    width: 1140px;
    height: 138px;
}

.plant-card-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 49px;
}
.plant-card{
    width: 270px;
    height: 485px;
    margin-top: 30px;
    text-align: center;
}
.plant-title{
    font-weight: 700;
    font-size: 45px;
}
.btn{
    width: 270px;
    height: 50px;
    background-color:#E95A08;
    color: white;
    border: none;
}
.plant-text{
    font-weight: 600;
    font-size: 22px;

}


/* Plant Lover Section */
.plant-lover-section{
    display: flex;
    justify-content: space-between;
    margin-top: 210px;
    width: 1140px;
    height: 597px;
    margin-right: 150px;
    margin-left: 150px;
    gap: auto;
}
.lover-image{
    width: 540px;
    height: 597px;
}
.lover-content{
    width: 540px;
    height: 521px;
}
.lover-item{
    margin: 50px;
}
.lover-content h3{
    width: 540px;
    height: 137px;
    font-size: 50px;
    font-weight: bold;
}

/* Deals section */
.deal-section{
    width: 1440px;
    height: 138px;
    margin-top: 134px;
}
.plant-deals-content{
    text-align: center;
}
.deals-title{
    font-weight: bold;
    font-size: 50px;
}
/* Join Section */
.join-section{
    width: 1140px;
    height: 425px;
    margin-top: 120px;
     display: flex;
     justify-content: space-between;
     margin-right: 150px;
     margin-left: 150px;

}
.join-left{
top: -20px;
 width: 367px;
 height: 425px;
 text-align: center;

}
.image-1{
    background-image: linear-gradient(rgba(0,0,0,0.4)),url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    position: relative;
     width: 367px;
    height: 197px;
     border-radius: 20px;
}
.img-content{
    width: 270px;
    height: 77px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.image-2{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    position: relative;
    width: 367px;
    height: 197px;
    margin-top: 27px;
    border-radius: 20px;
}

.shop-fw{
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.join-right{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    width: 753px;
    height: 425px;
     border-radius: 20px;
     text-align: center;
     position: relative;
}

.right-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.right-content h2{
    width: 498px;
    height: 50px;
    font-weight: 700;
    font-size: 40px;
    color: white;
}
.shop{
    font-weight: 500;
    font-size: 28px;
    color: white;
}

/* Input box section */
.input-box{
    background-image: url(../assets/news-letter-bg.png);
     width: 1440px;
     height: 533px;
     position: relative;
     margin-top: 121px;
     
}
.input-title{
     width: 830px;
     height: 141px;
     position: absolute;
     top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.input-title input{
    width: 644px;
    height: 50px;
}
.btn{
    width: 186px;
    height: 55px;
}
.inline{
    display: flex;
}
.input-title h1{
    font-weight: 700;
    font-size: 50px;
    color: white;
    text-align: center;
}